<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>LOAN MANAGMENT SYSTEM</title>
    <style>
        html body {
            user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
        }
    </style>
</head>
<body>
<main class="container">
    <div class="row">
        <div class="col-12 my-5 text-center">
            <h1><b><u>LOAN MANAGMENT SYSTEM</u></b></h1>
        </div>
        {% if error %}
            <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                     aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                </svg>
                <div>{{ error }}</div>
            </div>
        {% endif %}
        <div class="col-12 col-sm-6">
            <div class="border p-5 mb-5">
                <h6> Username : {{ account.username }}</h6>
                <h6> Amount : Rs.{{ account.amount }}</h6>
                {% if loans %}
                    {% for i in loans %}
                        {% if i.account.id == account.id %}
                            <h6> Loan amount is Rs.{{ i.amount }}</h6>
                            {% if i.approved_account.id != account.id %}
                                <h6>Candidate Person {{ i.approved_account.username }}</h6>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>

        {% if accounts %}
                <p class="fw-bold">Accounts Holders</p>
                <ul class="list-group list-group-numbered">
                    {% for account in accounts %}
                        <li class="list-group-item">{{ account.username }} : Rs.{{ account.amount }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-12 col-sm-6">
            <div class="border p-5 mb-5">
                <h6>Total Amount in Storage : Rs.{{ bulk_amount }}</h6>
                <h6>Total Loan Amount : Rs.{{ total_loans }}</h6>
                <h6>Total Amount in Storage : Rs.{{ bulk_amount - total_loans }}</h6>
            </div>

            {% if my_loan == None %}
                <p class="fw-bold">Get a loan</p>
                <form action="/home" method="get">
                    <input type="hidden" name="id" value="{{ account.id }}">
                    <input type="hidden" name="type" value="get">
                    <div class="mb-3">
                        <label for="loanAmount" class="form-label">Amount</label>
                        <input type="number" class="form-control" name="amount" id="loanAmount">
                    </div>
                    <div class="mb-3">
                        <select class="form-select" aria-label="Approved person" name="approved_person">
                            <option selected value="{{ account.id }}">Candidate Person</option>
                            {% if accounts %}
                                {% for acc in accounts %}
                                    {% if acc.id != account.id %}
                                        <option value="{{ acc.id }}">{{ acc.username }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Request Loan</button>
                </form>
            {% else %}
                <p class="fw-bold">Pay off</p>
                <form action="/home" method="get">
                    <input type="hidden" name="id" value="{{ account.id }}">
                    <input type="hidden" name="type" value="pay">
                    <button type="submit" class="btn btn-success">Payoff</button>
                </form>
            {% endif %}
        </div>

        <div class="col-12 mt-5 text-center">
            <a href="/">Sign out</a>
        </div>
        <div class="col-12 text-center text-dark text-uppercase mt-5">
            <small>© Copyright 2021 Sahan Nimesha. Created using Python ,Flask ,HTML , CSS</small>
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>